<img id="contact-header" src="/static/tabs/about-tab.png" width="200" height="100">

<img id="pink-phone" src="/static/Screen Shot 2022-04-25 at 3.53.13 PM.png"> 


<div class="container-fluid">
    <div class="row row-2">
        <video class="teatalks" loop src=/static/tea-talks_3.mov id="localVideoStream" autoplay muted>></video>
    </div>
    
    
    




        <div class="col-1 parent">
            <div class="child-1 flex-box"> 
                <img src="/static/pink-phone-vector.png" height="200px" width="500px"> 
            </div> 
        </div> 


        <div class="col-1 parent">
            <div class="child-2 flex-box"> 
                <img src="/static/maya-angelou.png" height="200px" width="500px"> 
            </div>                
        </div>
    </div>
</div>




{% endblock content %} 